@import './base.css';

.text-container {
    position: relative;
    color: #333;
}

.cursor {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 5px;
    height: 20px;
    background-color: #ccc;
    animation: blink 0.8s infinite;
}

@keyframes blink {
    0%,
    100% {
        opacity: 0;
    }

    50% {
        opacity: 1;
    }
}